/* line 1, ../sass/style.scss */
body {
  padding-top: 50px;
}

/* line 5, ../sass/style.scss */
footer {
  padding: 30px 0;
}

/* line 9, ../sass/style.scss */
.navbar-toggle {
  margin-right: 0px;
}

/* line 13, ../sass/style.scss */
.align-center {
  text-align: center;
}

/* line 17, ../sass/style.scss */
.align-right {
  text-align: right;
}

/* line 21, ../sass/style.scss */
#sectionResume, #sectionPortfolio {
  display: none;
}

/* line 26, ../sass/style.scss */
#sectionAbout h1, #sectionAbout h4 {
  text-align: center;
}

/* line 31, ../sass/style.scss */
.icon {
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 10px;
}
