.max960 {
	margin:0 auto;
	max-width: 960px;
}

.nav {
	margin-bottom: 10px;
}

.nav-tabs > li > a, .nav-pills > li > a {
	padding-left: 8px;
	padding-right: 8px;
}

#header > div {
	padding: 20px 0;
}

#header > div > a > img {
	width: 75%;
}

#aboutmepic {
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.floatleft {
	float: left;
}

.floatright {
	float: right;
}

.alignright {
	text-align: right;
}