/*!
 * JAW - Main 1.0.0
 * Copyright 2016 Jonathan Whitney
 */

@charset "utf-8";

// Includes
@import "inc/variables";

// Bootstrap
@import "bootstrap";

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

footer {
  padding: 30px 0;
}

h1, h2, h3, h4, h5 {
	color: #333;
}

.navbar-inverse {
	background-color: $jaw-main;
	border-color: #eee;

	.navbar-nav {
		.active {
			a, a:focus, a:hover {
				color: #fff;
				background-color: $jaw-main-light;
			}
		}

		li {
			a {
				color: #eee;
			}
		}
	}

	.navbar-collapse {
		border-color: $jaw-main;
	}

	.navbar-toggle {
		margin-right: 0px;
		border-color: $jaw-main;
		background-color: $jaw-main-light;
	}

	.navbar-toggle:active, .navbar-toggle:visited, .navbar-toggle:focus {
		background-color: $jaw-main-light;
	}

	.navbar-toggle:hover {
		background-color: #009be9;
	}
}

.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

#sectionResume {
	.glyphicon {
		color: #ddd;
	}

	.glyphicon.set {
		color: $jaw-main;
	}
}

.panel {
	margin-top: 20px;
	margin-bottom: 0px;
	border-color: $jaw-main;

	.panel-heading {
		background-color: $jaw-main;
		color: #fff;
	}
}

// #sectionResume, #sectionPortfolio {
// 	display: none;
// }

#sectionAbout {
	margin-top: 20px;

	h3 {
		margin-top: 0px;
	}
}

#sectionPortfolio {
	img {
		max-width: 100%;
		height: auto;
	}
}

.icon {
	display: inline-block;
	margin-right: 10px;
	margin-left: 0px;

	img {
		width: 32px;
		height: 32px;
	}
}

@media (max-width: 767px) {
	#sectionAbout {
		h3 {
			text-align: center;
		}

		.contact {
			p {
				text-align: center;
			}
		}
	}

	.icon {
		margin-right: 5px;
		margin-left: 5px;
	}
}
