<footer>
    <p><span><i class="far fa-copyright"></i>&nbsp;Jonathan Whitney </span><span id="copyrightYear"></span></p>
</footer>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.2/handlebars.min.js"></script>
<script src="assets/js/scripts.js"></script>
<script id="templateresume" type="text/x-handlebars-template">
    {% raw %}
        {{#each entries}}
            <div class="row">
                <h3 id="headline-{{id}}">{{heading}}</h3>
                <div class="wrapper">
                    {{#each content}}
                        <article>
                            {{#if heading}}
                                <h4>{{heading}}</h4>
                            {{/if}}
                            {{#if subheading}}
                                <h5>{{subheading}}</h5>
                            {{/if}}
                            {{#each text}}
                                <p>{{this}}</p>
                            {{/each}}
                            {{#if list}}
                                <ul>
                                    {{#each list}}
                                        <li>{{this}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                            {{#if ratings}}
                                {{#each ratings}}
                                    <div>
                                        <span>{{item}}&nbsp;</span>
                                        <span>{{stars rating}}</span>
                                    </div>
                                {{/each}}
                            {{/if}}
                            {{#if links}}
                                <ul>
                                    {{#each links}}
                                        <li>{{link url description}}</li>
                                    {{/each}}
                                </ul>
                            {{/if}}
                        </article>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    {% endraw %}
</script>
