<header>
    <div class="container flex">
        <a id="logo" href="{{ site.baseurl }}/"><img src="assets/images/logo.svg" alt="Logo" /></a>
        <div>
            <a href="http://linkedin.com/in/jonathanawhitney"><i class="fab fa-linkedin"></i></a>
            <a href="http://github.com/jawhitney"><i class="fab fa-github"></i></a>
            <a href="https://codepen.io/jawhitney/"><i class="fab fa-codepen"></i></a>
        </div>
    </div>
</header>
<section id="hero">
    <div class="container flex">
        <div class="left">
            <img id="headshot" src="assets/images/headshot.jpg" alt="Headshot" />
        </div>
        <div class="right">
            <h1>Jonathan Whitney</h1>
            <p>Fast-learning, self-motivated, and self-taught digital developer. Experienced in front-end/back-end development and design, responsive web design, and web applications.</p>
        </div>
    </div>
</section>
