<header>
    <div class="container">
      <div class="row">
          <div class="col-md-10 col-md-offset-1">
              <div id="logo" class="pull-left">
                  <a href="/"><img class="img-responsive" src="assets/images/logo.png" /></a>
              </div>
              <div class="pull-right hidden-xs">
                  <ul id="jawNav" class="list-inline">
                      <li><a href="#headline-technical-skills">Skills</a></li>
                      <li><a href="#headline-experience">Experience</a></li>
                      <li><a href="#headline-education">Education</a></li>
                      <li><a href="#headline-projects">Projects</a></li>
                      <li><a href="http://linkedin.com/in/jonathanawhitney" class="icon icon-linkedin" target="_blank"><span class="socicon-linkedin"></span></a></li>
                      <li><a href="http://github.com/jawhitney" class="icon icon-github" target="_blank"><span class="socicon-github"></span></a></li>
                  </ul>
              </div>
              <div class="pull-right visible-xs-block">
                  <button type="button" class="btn btn-default mobile-nav-trigger"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
              </div>
          </div>
      </div>
      <div id="jawNavMobile" class="row">
          <div class="col-xs-12">
              <ul class="list-unstyled">
                  <li><a href="#headline-technical-skills">Skills</a></li>
                  <li><a href="#headline-experience">Experience</a></li>
                  <li><a href="#headline-education">Education</a></li>
                  <li><a href="#headline-projects">Projects</a></li>
                  <li><a href="http://linkedin.com/in/jonathanawhitney" class="icon icon-linkedin" target="_blank"><span class="socicon-linkedin"></span></a></li>
                  <li><a href="http://github.com/jawhitney" class="icon icon-github" target="_blank"><span class="socicon-github"></span></a></li>
              </ul>
          </div>
      </div>
    </div>
</header>
