html,
body {
    overflow-x: hidden;
}

header,
footer {
    padding: $spacer / 2 0;
}

header {
    background-color: $blue;
    background-image: linear-gradient(to bottom right, $blue, darken($blue, $color-change));
    text-align: center;

    a {
        display: inline-block;
        max-width: 4 * $spacer;
        color: white;

        &:hover {
            color: darken(white, $color-change);
        }

        &:visited,
        &:active {
            color: darken(white, 2 * $color-change);
        }
    }

    #logo {
        margin-bottom: $spacer / 4;
    }

    i {
        font-size: 1.5 * $font-size-base;

        &:first-of-type {
            margin-right: $spacer / 8;
        }
    }
}

footer {
    background-color: $gray;
    color: white;
    text-align: center;
    box-shadow: 0 50vh 0 50vh $gray;
}

main {
    section:not(:first-child) {
        margin-bottom: $spacer;
    }
}

section {
    padding: 0 $spacer / 2;
}

article {
    flex-grow: 1;
    opacity: 0;
    transition: transform $timing $timing-function-bounce,
                opacity $timing $timing-function-bounce;
}

.multi-column {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 -1 * $spacer / 4;

    article {
        margin: 0 $spacer / 4;
        transform: translateX(-25%);

        &.loaded {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

div:not(.multi-column) > article {
    &:nth-of-type(odd) {
        transform: translateX(25%);
    }

    &:nth-of-type(even) {
        transform: translateX(-25%);
    }

    &.loaded {
        opacity: 1;
        transform: translateX(0);
    }
}

.rating {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: $spacer / 8;

    .value {
        width: 1/3 * 100%;
    }

    .progress {
        position: relative;
        display: inline-block;
        width: 2/3 * 100%;
        height: $spacer / 2;

        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
        }

        span:nth-child(1) {
            width: 100%;
            background-color: $gray-light;
        }

        span:nth-child(2) {
            width: 0%;
            background-color: $blue;
            transition: width $timing $timing-function-bounce;
        }

        span:nth-child(3) {
            color: white;
            text-shadow: 0.5px 0.5px 0.5px rgba($gray, 0.5);
            left: auto;
            right: $spacer / 8;
        }
    }
}

#hero {
    padding: $spacer / 2;
    background-color: $gray;
    background-image: linear-gradient(to bottom right, $gray, darken($gray, $color-change));
    color: white;
}

.left {
    margin-bottom: $spacer / 4;
    text-align: center;
    transform: translateX(-25%);
}

.right {
    transform: translateX(25%);
}

.left,
.right {
    opacity: 0;
    transition: opacity $timing $timing-function-bounce,
                transform $timing $timing-function-bounce;

    &.loaded {
        opacity: 1;
        transform: translateX(0);
    }
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (min-width: $md) {
    header {
        #logo {
            margin-bottom: 0;
            margin-right: auto;
        }
    }

    .flex {
        flex-direction: row;
    }

    #hero {
        .left,
        .right {
            width: 50%;
        }

        .left {
            margin-bottom: 0;
            margin-right: $spacer / 2;
        }
    }

    .multi-column {
        flex-direction: row;
    }
}

#logo img {
    width: 100%;
    height: auto;
}

#headshot {
    max-width: 250px;
    height: auto;
    border-radius: 125px;
}

.headline {
    overflow: hidden;
    margin-top: 0.5 * $spacer;
    text-align: center;

    span {
        display: inline-block;
        position: relative;
        color: $gray-light;
        text-transform: uppercase;
        font-size: 1.5 * $font-size-base;
        opacity: 0;
        transition: opacity $timing $timing-function-bounce;

        &::before,
        &::after {
            content: "";
            position: absolute;
            top: 50%;
            width: 0;
            height: 1px;
            background-color: $gray-light;
            transition: width 2 * $timing $timing-function-bounce;
        }

        &::before {
            right: 100%;
            margin-right: .78125rem;
        }

        &::after {
            left: 100%;
            margin-left: .78125rem;
        }
    }

    &.loaded {
        span {
            opacity: 1;

            &::before,
            &::after {
                width: 500px;
            }
        }
    }
}

.cards {
    display: block;
    margin-bottom: -1 * $spacer / 4;

    article {
        margin: 0;
        padding: $spacer / 4;
    }
}

.card {
    position: relative;
    display: inline-block;
    padding-top: (525/1000) * 100%;
    width: 100%;
    height: 0;
    opacity: 0;
    transition: opacity $timing $timing-function-bounce;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: rgba($blue, 0.9);
        opacity: 0;
        transition: opacity $timing / 2 $timing-function;
    }

    img, h5, p {
        position: absolute;
    }

    img {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 0;
    }

    h5, p {
        z-index: 2;
        margin: 0;
        padding: 0;
        opacity: 0;
        width: 100%;
        text-align: center;
        transition: top $timing / 2 $timing-function-bounce,
                    bottom $timing / 2 $timing-function-bounce;
    }

    h5 {
        top: $spacer / 2;
        color: white;
    }

    p {
        bottom: $spacer / 2;
        color: $gray-light;
    }

    &:hover {
        &::before {
            opacity: 1;
        }

        h5, p {
            opacity: 1;
        }

        h5 {
            top: calc(50% - #{$spacer / 2});
        }

        p {
            bottom: calc(50% - #{$spacer / 2});
        }
    }
}

.loaded {
    .card {
        opacity: 1;
    }
}

@media only screen and (min-width: $md) {
    .cards {
        display: flex;

        article {
            width: 1/3 * 100%;
        }
    }
}
