//== Custom variables

// Colors
$blue: #007fa2;
$gray: #3e3e3e;
$gray-light: #ccc;
$color-change: 10%;

// Font sizes
$font-size-base: 1rem;

// Dimensions
$spacer: 3.125rem;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// Animation
$timing: 0.75s;
$timing-function: ease-out;
$timing-function-bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
