//== About
section {
    &#sectionAbout {
        padding-top: $spacer;
        padding-bottom: $spacer;
        background-color: $jaw-base-gray;
        color: #fff;

        #headshot {
            max-width: 5 * $spacer;
            border-radius: (5 * $spacer) / 2;
        }
    }

    .headline {
        padding-top: 0.5 * $spacer;
        padding-bottom: 0.5 * $spacer;
        background-color: $jaw-main;
        color: #fff;

        h1 {
            margin: 0;
            padding: 0;
        }
    }

    .content {
        padding-bottom: 0.5 * $spacer;

        &:nth-of-type(2) {
            padding-top: 0.5 * $spacer;
        }
    }

    ul {
        margin: 0;
    }
}
